
<!--<ng-container *ngIf="userProfile">-->
<!--  <h3>User information</h3>-->



<!--  <div class="b_badge">-->

<!--                <span class="user_name">-->
<!--<table>-->
<!--                  <tr *ngIf="userProfile.username">-->
<!--                    <th scope="row">Username</th>-->
<!--                <td>{{ userProfile.username }}</td>-->
<!--                </tr>-->
<!--    </table>-->
<!--                  </span>-->

<!--  </div>-->

<!--  <div class = "b_badge">-->
<!--    <table>-->
<!--      <tr *ngIf="userProfile.firstName">-->
<!--        <th scope="row">First name</th>-->
<!--        <td>{{userProfile.firstName}}</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--  <tr *ngIf="userProfile.lastName">-->
<!--    <th scope="row">First name</th>-->
<!--    <td>{{ userProfile.lastName }}</td>-->
<!--  </tr>-->
<!--  <tr *ngIf="userProfile.email">-->
<!--    <th scope="row">E-mail</th>-->
<!--    <td>{{ userProfile.email }}</td>-->
<!--  </tr>-->


<!--</ng-container>-->
